Diferentes operaciones con fechas

In [12]:
import datetime
from scipy import optimize 
import pandas as pd
import numpy as np

In [10]:
date = '20120626'
print(datetime.datetime.strptime(date, "%Y%m%d"))

2012-06-26 00:00:00

In [13]:
df = pd.read_csv('tes_d.csv')

In [14]:
df.tail()

,DATE,ISSUE,W_AVG_YIELD,W_AVG_PRICE,NOMINAL_D,FULL_PRICE_D,SOURCE,CUPON,ISSUE_DATE,EXPIRATION_DATE,TERM,DTM,DFI,DTNC
40596,2019-10-31,TFIT15260826,5.584537,110.589359,2.550000e+11,2.854612e+11,201910,7.50,2011-08-26,2026-08-26,15,6.824658,8.186301,0.824658
40597,2019-10-31,TFIT16280428,5.843825,100.978094,3.135000e+11,3.261516e+11,201910,6.00,2012-04-28,2028-04-28,16,8.498630,7.512329,0.498630
40598,2019-10-31,TFIT16180930,6.041117,113.322018,8.150000e+10,9.310154e+10,201910,7.75,2014-09-18,2030-09-18,16,10.890411,5.120548,0.890411
40599,2019-10-31,TFIT16300632,6.175462,107.052449,7.800000e+10,8.534085e+10,201910,7.00,2016-06-30,2032-06-30,16,12.673973,3.336986,0.673973
40600,2019-10-31,TFIT16181034,6.230188,109.733253,1.680000e+11,1.847856e+11,201910,7.25,2018-10-18,2034-10-18,16,14.975342,1.035616,0.975342

In [22]:
df.iloc[40600][9]

16

In [26]:
fecha_val = datetime.datetime.strptime(df.iloc[40600][0], "%Y-%m-%d")
fecha_ven = datetime.datetime.strptime(df.iloc[40600][9], "%Y-%m-%d")
print(fecha_val,fecha_ven)

2019-10-31 00:00:00 2034-10-18 00:00:00

In [34]:
term = (fecha_ven - fecha_val).days/365.
term

14.975342465753425

In [36]:
fecha_ven.year - 1

2033

In [38]:
fecha_ven.month

10

In [39]:
fecha_ven.day

18

In [48]:
datetime.date(fecha_ven.year - 1,fecha_ven.month,fecha_ven.day)

datetime.date(2033, 10, 18)

In [63]:
a = str(fecha_ven.year - 1) + str(fecha_ven.month) + str(fecha_ven.day)

In [69]:
datetime.datetime.strptime(a, "%Y%m%d")

18

In [74]:
term//1

14.0

In [75]:
term%1

0.9753424657534246

In [76]:
df.DATE[40600]

'2019-10-31'

In [90]:
type(df.EXPIRATION_DATE[40600])

str

In [138]:
def get_term_deprecated(date_val_input,date_term_input):
    '''
    This function take two strings and get a list between this dates according the a integer number 
    getting from your difference.
    Both dates must be strings from a time series pandas data frame
    '''
    date_val = datetime.datetime.strptime(date_val_input, "%Y-%m-%d").date()  #Date convert datetime to date
    date_term = datetime.datetime.strptime(date_term_input, "%Y-%m-%d").date()
    term = (date_term - date_val).days/365.
    n = int(term//1)
    term_list = []
    base = 365.
    for i in range(-n,0):
        term_aux = date_term - datetime.date(date_term.year + i,date_term.month,date_term.day)
        term_list.append(term_aux.days / base)
        if i == -1:
            term_list.append(0.)
    return term_list

In [139]:
get_term_deprecated(df.DATE[40600],df.EXPIRATION_DATE[40600])

[14.008219178082191,
 13.008219178082191,
 12.008219178082191,
 11.008219178082191,
 10.005479452054795,
 9.005479452054795,
 8.005479452054795,
 7.005479452054795,
 6.002739726027397,
 5.002739726027397,
 4.002739726027397,
 3.0027397260273974,
 2.0,
 1.0,
 0.0]

In [241]:
def get_term(date_val_input,date_term_input):
    '''
    This function take two strings and get a list between this dates according the a integer number 
    getting from your difference.
    Both dates must be strings from a time series pandas data frame
    '''
    date_val = datetime.datetime.strptime(date_val_input, "%Y-%m-%d").date()  #Date convert datetime to date
    date_term = datetime.datetime.strptime(date_term_input, "%Y-%m-%d").date()
    term = (date_term - date_val).days/365.
    n = int(term//1)
    term_list = []
    base = 365.
    for i in range(-n+1, 0):
        if i == -n + 1 :
            term_list.append(0.)        
        term_aux = term + i
        term_list.append(term_aux)
    return term_list, term

In [242]:
get_term(df.DATE[40600],df.EXPIRATION_DATE[40600])

([0.0,
  1.9753424657534246,
  2.9753424657534246,
  3.9753424657534246,
  4.975342465753425,
  5.975342465753425,
  6.975342465753425,
  7.975342465753425,
  8.975342465753425,
  9.975342465753425,
  10.975342465753425,
  11.975342465753425,
  12.975342465753425,
  13.975342465753425],
 14.975342465753425)

In [160]:
fecha_val = datetime.datetime.strptime(df.iloc[40600][0], "%Y-%m-%d")
fecha_ven = datetime.datetime.strptime(df.iloc[40600][9], "%Y-%m-%d")
print(fecha_val,fecha_ven)

2019-10-31 00:00:00 2034-10-18 00:00:00

In [238]:
a = get_term('2019-10-18',df.EXPIRATION_DATE[40600])
a

([0.0,
  0.01095890410958944,
  1.0109589041095894,
  2.0109589041095894,
  3.0109589041095894,
  4.010958904109589,
  5.010958904109589,
  6.010958904109589,
  7.010958904109589,
  8.01095890410959,
  9.01095890410959,
  10.01095890410959,
  11.01095890410959,
  12.01095890410959,
  13.01095890410959,
  14.01095890410959,
  15.01095890410959],
 15.01095890410959)

In [167]:
for i in a:
    print(i * 365)

0.0
4.000000000000146
369.00000000000017
734.0000000000001
1099.0000000000002
1464.0000000000002
1829.0000000000002
2194.0
2559.0
2924.0
3289.0
3654.0
4019.0
4384.0
4749.0
5114.0
5479.0

In [173]:
leapyr(2020)

366.0

In [174]:
leapyr(2019)

365.0

In [172]:
# https://stackoverflow.com/questions/11621740/how-to-determine-whether-a-year-is-a-leap-year
def leapyr(n):
    if n % 400 == 0:
        return 366.
    if n % 100 == 0:
        return 365.
    if n % 4 == 0:
        return 366.
    else:
        return 365.

In [220]:
def get_term_leap(date_val_input,date_term_input):
    '''
    This function take two strings and get a list between this dates according the a integer number 
    getting from your difference.
    Both dates must be strings from a time series pandas data frame
    '''
    date_val = datetime.datetime.strptime(date_val_input, "%Y-%m-%d").date()  #Date convert datetime to date
    date_term = datetime.datetime.strptime(date_term_input, "%Y-%m-%d").date()
    term = (date_term - date_val).days/365.
    n = int(term//1)
    term_list = []
    for i in range(-n,0):
        base = leapyr(date_term.year + i)
        term_aux = (datetime.date(date_term.year + i,date_term.month,date_term.day) - date_val).days / base
        if term_aux < 0:
            term_list.append(0.)
        else:
            term_list.append(term_aux)
    return term_list

In [221]:
get_term_leap('2019-10-19',df.EXPIRATION_DATE[40600])

[0.0,
 0.9972677595628415,
 2.0,
 3.0,
 4.0,
 4.9890710382513666,
 6.002739726027397,
 7.002739726027397,
 8.002739726027396,
 8.980874316939891,
 10.005479452054795,
 11.005479452054795,
 12.005479452054795,
 12.972677595628415,
 14.008219178082191]

In [226]:
get_term('2019-10-19','2034-10-18')

[0.0,
 0.008219178082191192,
 1.0082191780821912,
 2.008219178082191,
 3.008219178082191,
 4.008219178082191,
 5.008219178082191,
 6.008219178082191,
 7.008219178082191,
 8.008219178082191,
 9.008219178082191,
 10.008219178082191,
 11.008219178082191,
 12.008219178082191,
 13.008219178082191,
 14.008219178082191,
 15.008219178082191]

In [227]:
get_term('2019-10-18','2034-10-18')

[0.0,
 0.01095890410958944,
 1.0109589041095894,
 2.0109589041095894,
 3.0109589041095894,
 4.010958904109589,
 5.010958904109589,
 6.010958904109589,
 7.010958904109589,
 8.01095890410959,
 9.01095890410959,
 10.01095890410959,
 11.01095890410959,
 12.01095890410959,
 13.01095890410959,
 14.01095890410959,
 15.01095890410959]

In [228]:
get_term('2019-10-17','2034-10-18')

[0.0,
 0.013698630136985912,
 1.013698630136986,
 2.013698630136986,
 3.013698630136986,
 4.013698630136986,
 5.013698630136986,
 6.013698630136986,
 7.013698630136986,
 8.013698630136986,
 9.013698630136986,
 10.013698630136986,
 11.013698630136986,
 12.013698630136986,
 13.013698630136986,
 14.013698630136986,
 15.013698630136986]

In [229]:
get_term('2019-10-20','2034-10-18')

[0.0,
 0.00547945205479472,
 1.0054794520547947,
 2.0054794520547947,
 3.0054794520547947,
 4.005479452054795,
 5.005479452054795,
 6.005479452054795,
 7.005479452054795,
 8.005479452054795,
 9.005479452054795,
 10.005479452054795,
 11.005479452054795,
 12.005479452054795,
 13.005479452054795,
 14.005479452054795,
 15.005479452054795]